{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<h4> So have you guys ever tried to access Edurec's Graduation Audit Report or What-If Report and always hate to see this screen? </h4>
<br />
[Image to be inserted]
<br />
<br />
<h4> To be fair, thats an old system. However, had you have any troubles especially with modules that satisfy more than two or three requirements?</h4>
<h4> As someone who is so bo-liao during the summer, I decided to enrolled in EDX's CS50x course and always wanted to code this website for me and my coursemates to make everything so clear.</h4>
<h4> I just hope that by creating this very site, everyone can plan their degree with ease!</h4>
{% endblock %}