{% extends "layout.html" %}

{% block title %}
    Frequently Asked Questions
{% endblock %}

{% block main %}
<div>
    <h3>I do not see the modules that I wanted in the database? How do I add a module to the system?</h3> 
</div>
<br />
<div>
    <h3>Can I be a helper?</h3> 
</div>
<br />
<div>
    <h3>PDPA Alert? Will you be able to see whatever plan I am directly taking along with the matriculation number and NUSNET ID?</h3> 
</div>
<br />
<div>
    <h3>Why do I need to use this site? Can't I just create my own degree planner instead of using this crappy unsecure application?</h3> 
</div>
<br />
<div>
    <h3>Why is my degree not listed?</h3> 
</div>
<br />
<div>
    <h3>The NUSMods API is publicly avaliable. Why waste the hour to code and implement the helper/module system where you can just import the modules over directly using NUSMODS API?</h3> 
</div>
<br />
<div>
    <h3>Why is it called the NUS Module Planner, not a NUS DEGREE Planner instead?</h3> 
</div>
<br />
<div>
    <h3>Would you be sending the code to NUSMods or asked NUS itself to back this system up?</h3> 
</div>
{% endblock %}