{% extends "layout.html" %}

{% block title %}
    Helpers
{% endblock %}

{% block main %}
<div id="helpers" class="information">
    <h1>Meet The Helpers!</h1>
    <p>These group of people help to manage the sites! They are mostly reponsible for approving the modules
        used here in this site, as well as contributing the codes. (Last Updated: 2022)</p>
</div>
<div class='card-container'>
    <div class='admincard'>
        <h2>YS</h2>
        <p class="title">Administrator / Current Chemistry Undergraduate</p>
        <p>He created this site as part of his CS50x project,
        in hopes that his coursemates will use this site!</p>
        <div class="social-links">
            <h6>Email: yusiangseah99@u.nus.edu</h6>
            <h6>Telegram: @yusiang_seah</h6>
            <h6>Github: @YSSeah99</h6>
            <h6>Connect with him via LinkedIn !</h6>
        </div>
    </div>
    <div class='card1'>
        <h2>Next Helper</h2>
        <p class="title">Lead Helper</p>
        <p>He created this site as part of his CS50x project,
        in hopes that his coursemates will use this site!</p>
        <div class="social-links">
            <p>[Social Links to Be Updated. Lol.]</p>
        </div>
    </div>
</div>
<br/>
{% if session["user_id"] %}
<div id="helpers" class="information">
    <h3> Hello, Helper! </h3>
    <p> Click <a href="/">here</a> to approve modules and click <a href="/logout">here</a> to logout! </p>
</div>
<br />
<div>
    <h3>Want to change password?</h3>
    <form method="post" class="form" action="/helpers">
        <div class="mb-3">
            <label class="form-label">NUS Email: </label>
            <input type="email" name="email" placeholder="NUS Email" required class="form-control"/> 
        </div>
        <div class="mb-3">
            <label class="form-label">Old Password: </label>
            <input type="password" name="oldpassword" placeholder="Previous Password" required class="form-control"/>
        </div>
        <div class="mb-3">
            <label class="form-label">New Password: </label>
            <input type="password" name="passwordone" placeholder="New Password" required class="form-control"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Confirm New Password: </label>
            <input type="password" name="passwordtwo" placeholder="Confirm Password" required class="form-control"/>
        </div>
        <div>
            <button type="submit" class="btn" value="change" name="btn">Change Password</button>
        </div>   
    </form>
</div>
{% else %}
<div id="helpers" class="information">
    <h3>Want to contribute?</h3>
    <p className="applink">Do register your interest <a href="/helperform">here!</a></p>
</div>
<br/>
<div>
    <h3>Already a helper? Login here!</h3>
    <form method="post" class="form" action="/helpers">
        <div class="mb-3">
            <label class="form-label">NUS Email: </label>
            <input type="email" name="email" placeholder="NUS Email" required class="form-control"/> 
        </div>
        <div class="mb-3">
            <label class="form-label">Password: </label>
            <input type="password" name="password" placeholder="Password" required class="form-control"/>
        </div>
        <div>
            <button type="submit" class="btn" value="login" name="btn">Log In</button>
        </div>   
    </form>
</div>
{% endif %}
{% endblock %}