{% extends "layout.html" %}

{% block title %}
    Page
{% endblock %}

{% block main %}
<h1>Degree Planner</h1>
<br />
<p>Note: For any submission, please ensure that the "Matriculation No. and NUSNET ID" is inputted.</p>
<div class="form-group">
    <div class="questions">
        <form method="post">
            <label class="form-label">Matriculation No. and NUSNET ID (Last 4 characters of both)</label>
            <input type="text" class="form-control" name="planname" placeholder=""/>
            <br />
            <h6> For example, a student with matriculation number A1234567X and NUSNET ID E1234567 would have inputted "567X4567"</h6>
            <br /><button type="submit" class="btn" value="load" name="btn">Load Existing Plan</button>
            <br />
            <br />
            <select name="year" class="form-select">
                <option value="">Select your matriculation year</option>
                <option value="twotwotwothree">AY 22 / 23</option>
                <option value="twoonetwotwo">AY 21 / 22</option>
                <option value="twozerotwoone">AY 20 / 21</option>
                <option value="oneninetwozero">AY 19 / 20</option>
            </select>
        <br />
            <select name="degree" class="form-select">
                <option value="">Select your degree / major</option>
                {% for degree in degrees %}
                    <option value="{{ degree.degreename }}">{{ degree.degreename }}</option>
                {% endfor %}
            </select>
            <br />
            <label class="form-label">Please check if you have enrolled in any of them below:</label>
            <br />
            <div class="cbline">
                <div class="form-check form-check-inline">
                    <label class="form-label">Specialisation</label>
                    <input class="form-check-input" type="checkbox" name="spec" value="spec"/> 
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-label">2nd Major</label>
                    <input class="form-check-input" type="checkbox" name="secondmajor" value="secondmajor"/>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-label">Minor 1</label>
                    <input class="form-check-input" type="checkbox" name="minorone" value="minorone"/>
                </div> 
                <div class="form-check form-check-inline">
                    <label class="form-label">Minor 2</label>
                    <input class="form-check-input" type="checkbox" name="minortwo" value="minortwo"/>
                </div> 
                <div class="form-check form-check-inline">
                    <label class="form-label">Minor 3</label>
                    <input class="form-check-input" type="checkbox" name="minorthree" value="minorthree"/>
                </div> 
            </div>
        <br />
        <br />
        <p> By clicking this button, you are acknowledging that you are sending part of your personal particulars into the system </p>
            <button type="submit" class="btn" value="create" name="btn">Create New Plan</button>
            <button type="submit" class="btn" value="update" name="btn">Save / Update Plan</button>
        </form>
    </div>
</div>
{% endblock %}